@font-face {
	font-family: 'Digital7';
	src: url('assets/fonts/digital-7.ttf') format('truetype');
}

body {
	margin: 50;
	padding: 50;
	background-color: #000;
	font-family: 'Digital7', sans-serif;
	color: white;
	overflow: hidden;
}

.hud-wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-image: url('assets/img/framemeteo.png');
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
}

/* 🏷️ Titre */
.hud-title {
	position: absolute;
	top: 47px;
	left: 262px;
	/*transform: translateX(-50%);*/
	font-size: 75px;
	text-shadow: 0 0 10px #00ffcc;
	margin: 0;
}

/* 🌞 Icône météo principale */
.weather-icon {
	position: absolute;
	top: 117px;
	left: 35px;
	width: 345px;
	filter: drop-shadow(0 0 6px white);
}

/* 🌡️ Températures min/max */
.temps {
	position: absolute;
	top: 188px;
	left: 396px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 40px;
}

.weather-desc {
  position: absolute;
  top: 110px;
  left: 388px;
  font-size: 40px;
  text-shadow: 0 0 6px white;
  color: #fff;
}

.temp-value1 {
	top: 5px;
	font-size: 60px;
	text-shadow: 0 0 8px blue;
	margin: 0;
}

.separator1 {
	top: 5px;
	font-size: 60px;
	text-shadow: 0 0 8px blue;
	margin: 0;
}

.temp-value2 {
	top: 5px;
	font-size: 60px;
	text-shadow: 0 0 8px red;
	margin: 0;
}

.thermo {
	width: 40px;
	height: 60px;
}

/* ⏳ Bloc Previous */
.timeline {
	position: relative;
	top: 274px;
	left: 382px;
	width: 600px;
	height: 192px;
	background-image: url('assets/img/frameprev.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.timeline-title {
	font-size: 1.5em;
	margin-top: 2px;
	text-shadow: 0 0 6px #00ffcc;
}

.timeline-icon {
	width: 60px;
	height: 60px;
	left: 5px;
	margin-top: 10px;
	filter: drop-shadow(0 0 6px white);
}

.thermo2 {
	width: 20px;
	height: 30px;
	margin-top: 5px;
}

.timeline-temps {
	display: flex;
	gap: 20px;
	font-size: 2.5em;
	text-shadow: 0 0 6px white;
	margin-top: 10px;
}